:root{
    --amarillo-200: #ffffdb;
    --amarillo-500: #ffc60b;
    --amarillo-600: #ffc301;
    --naranja-300:  #ff8901;
    --naranja-500:  #ff5733;
    --rojo-500:     #c70039;
    --bordo-500:    #900c3e;
    --negro-500:    #444444;
}

.amarillo-200 {color: var(--amarillo-200);}
.amarillo-500 {color: var(--amarillo-500);}
.amarillo-600 {color: var(--amarillo-600);}
.naranja-300 {color: var(--naranja-300);}
.naranja-500 {color: var(--naranja-500);}
.rojo-500 {color: var(--rojo-500);}
.bordo-500 {color: var(--bordo-500);}
.negro-500 {color: var(--negro-500);}

.bg-amarillo-200 {background-color: var(--amarillo-200);}
.bg-amarillo-500 {background-color: var(--amarillo-500);}
.bg-amarillo-600 {background-color: var(--amarillo-600);}
.bg-naranja-300 {background-color: var(--naranja-300);}
.bg-naranja-500 {background-color: var(--naranja-500);}
.bg-rojo-500 {background-color: var(--rojo-500);}
.bg-bordo-500 {background-color: var(--bordo-500);}
.bg-negro-500 {background-color: var(--negro-500);}



body {
    align-items: stretch;
    display: grid;
    /* grid-template-columns: repeat(4, minmax(0, 1fr)); */
    grid-template-rows: auto;
    grid-template-areas:
    "header header header header"
    "main main main main"
    "footer footer footer footer";
    justify-items: stretch;
}

header {
    grid-area: header;
    min-height: 10vh;
}

/* nav {} */

main {
    grid-area: main;
    min-height: 80vh;
}

footer {
    grid-area: footer;
    min-height: 10vh;
}

/*header .logo-ebaf {} */
/* nav .nav-item {} */
nav .nav-item .nav-link:hover {text-decoration: underline;}


.nav-pills .nav-link{
    color: var(--naranja-500);
}

.nav-pills .nav-link.active{
    color: var(--amarillo-200);
    background-color: var(--naranja-500);
}
