body {
    align-items: stretch;
    display: grid;
    /* grid-template-columns: repeat(4, minmax(0, 1fr)); */
    grid-template-rows: auto;
    grid-template-areas:
    "header header header header"
    "main main main main"
    "footer footer footer footer";
    justify-items: stretch;
}

header {
    /* align-items: center; */
    grid-area: header;
    /* flex-wrap: wrap;
    align-content: center;
    height: 10vh; */
}

/* nav {} */

main {
    grid-area: main;
    min-height: 80vh;
}

footer {
    grid-area: footer;
    min-height: 10vh;
}


.amarillo-200 {color: #ffffdb;}
.amarillo-500 {color: #ffc60b;}
.amarillo-600 {color: #ffc301;}
.naranja-300 {color: #ff5733;}
.naranja-500 {color: #ff8901;}
.bordo-500 {color: #900c3e;}
.rojo-500 {color: #c70039;}
.negro-500 {color:#444444;}

.bg-amarillo-200 {background-color: #ffffdb;}
.bg-amarillo-500 {background-color: #ffc60b;}
.bg-amarillo-600 {background-color: #ffc301;}
.bg-naranja-300 {background-color: #ff5733;}
.bg-naranja-500 {background-color: #ff8901;}
.bg-bordo-500 {background-color: #900c3e;}
.bg-rojo-500 {background-color: #c70039;}
.bg-negro-500 {background-color:#444444;}


/*header .logo-ebaf {} */
/* nav .nav-item {} */
nav .nav-item .nav-link:hover {text-decoration: underline;}